fastapi>=0.115.11
uvicorn>=0.34.0
onnx-asr[hub]>=0.10.2
onnxruntime-gpu>=1.18.1
nemo_toolkit[asr]
nvidia-cublas-cu12
nvidia-cuda-runtime-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cudnn-cu12
nvidia-curand-cu12
nvidia-cufft-cu12
nvidia-cusparse-cu12
nvidia-cusolver-cu12
nvidia-nccl-cu12
tensorrt-cu12-libs
python-multipart>=0.0.20
numpy
soundfile>=0.12.1
